<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        
        <client>
            <endpoint address="http://localhost:8733/Velib/VelibService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVelibService"
                contract="VelibServiceReference.IVelibService" name="WSHttpBinding_IVelibService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IVelibService" maxReceivedMessageSize="512000">
                    <readerQuotas maxDepth="100000" maxStringContentLength="100000"
                        maxArrayLength="100000" maxBytesPerRead="100000" maxNameTableCharCount="100000" />
                </binding>
            </wsHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>